@font-face {
  font-family: 'Spartan';
  src: local('Spartan'),
    url(./assets/fonts/SpartanRegular400.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan'),
    url(./assets/fonts/SpartanBold700.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Antonio';
  src: local('Antonio'),
    url(./assets/fonts/Antonio-Medium.ttf) format('truetype');
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2 {
  font-family: 'Antonio', sans-serif;
}

h1 {
  font-size: 80px;
  line-height: 103px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}

h4 {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}
